.course{
  flex:4;padding: 20px;
}
.courseTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  
  }
.courseTitle, .courseUpdateTitle {
  font-weight: 600;
  font-size: 20px;

}
